<h1>Let's create a business...</h1>

<%= form_for @user do |u| %>
	<%= u.text_field :name, :placeholder => "Name"  %>
	<%= u.text_field :email, :placeholder => "Email"  %>
	<%= u.text_field :address, :placeholder => "Address"  %>
	<%= u.password_field :password, :placeholder => "Password" %>	
	<!-- <a href="#" class="button [radius round]" type ="submit">Radius Button</a> -->
	<button type="submit" class="btn btn-primary small">Create Account</button>
<% end %>


