<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<%= render 'form' %>




 <%#= current_user.name %>

<% User.all.each do |d| %>
<%= d.name %>
<%= d.address %>
<%= d.latitude %>
<%= d.longitude %>

<% end %>



