<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FreshDonut</title>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="jquery-1.3.2.js" type="text/javascript"></script>
    <script src="scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  </head>

  <body>

<!-- start of nav bar -->
<div class="sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
  <ul class="title-area">
    <li class="name">
      <%= link_to donuts_path do %> <div id = "navdonutlogo"></div><% end %>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <!-- <li class="active"><a href="#">Right Button Active</a></li> -->
      <li class="has-dropdown">
        <a href="#">L O G I N</a>
        <ul class="dropdown">
          <% if !current_user %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Sign In", new_sessions_path %></li>
          <% else %>
          <li><%= link_to "FreshList", current_user %></li>
          <li><%= link_to "Sign Out", sessions_path, :method => :delete %></li>

          <% end %>
        </ul>
      </li>
    </ul>   
  </section>
  </nav>
</div>
<!-- end of nav bar -->

<div id = "spacer"></div>

    <%= yield %>
    
  </body>
</html>